# Training a Binary Classifier

Problem
You need to train a simple classifier model.

Solution
Train a logistic regression in scikit-learn using LogisticRegression:

In [22]:
# Load libraries
from sklearn.linear_model import LogisticRegression
from sklearn import datasets
from sklearn.preprocessing import StandardScaler
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [23]:
# Load data with only two classes
iris = datasets.load_iris()
features = iris.data[:100,:]
target = iris.target[:100]

features.shape

(100, 4)

In [24]:
df = pd.DataFrame(features)
df.head()

     0    1    2    3
0  5.1  3.5  1.4  0.2
1  4.9  3.0  1.4  0.2
2  4.7  3.2  1.3  0.2
3  4.6  3.1  1.5  0.2
4  5.0  3.6  1.4  0.2

In [3]:
# Standardize features
scaler = StandardScaler()
features_standardized = scaler.fit_transform(features)

In [25]:
df1 = pd.DataFrame(features_standardized)
df1.head()

          0         1         2         3
0 -0.581066  0.841837 -1.012978 -1.042111
1 -0.894309 -0.207835 -1.012978 -1.042111
2 -1.207552  0.212034 -1.082312 -1.042111
3 -1.364174  0.002099 -0.943643 -1.042111
4 -0.737687  1.051772 -1.012978 -1.042111

In [7]:
import pandas as pd
df = pd.DataFrame(features)
df.head()

     0    1    2    3
0  5.1  3.5  1.4  0.2
1  4.9  3.0  1.4  0.2
2  4.7  3.2  1.3  0.2
3  4.6  3.1  1.5  0.2
4  5.0  3.6  1.4  0.2

In [12]:
# Load data with only two classes
iris = datasets.load_iris()
#features = iris.data[:100,:]
#target = iris.target[:100]
len(iris)

7

In [16]:
iris.data.shape

(150, 4)

In [19]:
df = pd.DataFrame(iris.data)
df.head()

     0    1    2    3
0  5.1  3.5  1.4  0.2
1  4.9  3.0  1.4  0.2
2  4.7  3.2  1.3  0.2
3  4.6  3.1  1.5  0.2
4  5.0  3.6  1.4  0.2

In [17]:
iris.target.shape

(150,)

In [26]:
# Load libraries
from sklearn.linear_model import LogisticRegression
from sklearn import datasets
from sklearn.preprocessing import StandardScaler

# Load data with only two classes
iris = datasets.load_iris()
features = iris.data[:100,:]
target = iris.target[:100]

# Standardize features
scaler = StandardScaler()
features_standardized = scaler.fit_transform(features)

# Create logistic regression object
logistic_regression = LogisticRegression(random_state=0)

# Train model
model = logistic_regression.fit(features_standardized, target)

In [27]:
# Create new observation
new_observation = [[.5, .5, .5, .5]]

# Predict class
model.predict(new_observation)

array([1])

In [28]:
# View predicted probabilities
model.predict_proba(new_observation)

array([[0.17738424, 0.82261576]])

# Training a Multiclass Classifier

Problem
Given more than two classes, you need to train a classifier model.
Solution
Train a logistic regression in scikit-learn with LogisticRegression using one-vs-rest
or multinomial methods:

In [29]:
# Load libraries
from sklearn.linear_model import LogisticRegression
from sklearn import datasets
from sklearn.preprocessing import StandardScaler

# Load data
iris = datasets.load_iris()
features = iris.data
target = iris.target

# Standardize features
scaler = StandardScaler()
features_standardized = scaler.fit_transform(features)

# Create one-vs-rest logistic regression object
logistic_regression = LogisticRegression(random_state=0, multi_class="ovr")

# Train model
model = logistic_regression.fit(features_standardized, target)

# Reducing Variance Through Regularization

Problem
You need to reduce the variance of your logistic regression model.
Solution
Tune the regularization strength hyperparameter, C:

In [30]:
# Load libraries
from sklearn.linear_model import LogisticRegressionCV
from sklearn import datasets
from sklearn.preprocessing import StandardScaler

# Load data
iris = datasets.load_iris()
features = iris.data
target = iris.target

# Standardize features
scaler = StandardScaler()
features_standardized = scaler.fit_transform(features)

# Create decision tree classifier object
logistic_regression = LogisticRegressionCV(
 penalty='l2', Cs=10, random_state=0, n_jobs=-1)

# Train model
model = logistic_regression.fit(features_standardized, target)

# Training a Classifier on Very Large Data

Problem
You need to train a simple classifier model on a very large set of data.
Solution
Train a logistic regression in scikit-learn with LogisticRegression using the stochas‚Äê
tic average gradient (SAG) solver:

In [31]:
# Load libraries
from sklearn.linear_model import LogisticRegression
from sklearn import datasets
from sklearn.preprocessing import StandardScaler

# Load data
iris = datasets.load_iris()
features = iris.data
target = iris.target

In [32]:
# Standardize features
scaler = StandardScaler()
features_standardized = scaler.fit_transform(features)

# Create logistic regression object
logistic_regression = LogisticRegression(random_state=0, solver="sag")

# Train model
model = logistic_regression.fit(features_standardized, target)

# Handling Imbalanced Classes

Problem
You need to train a simple classifier model.
Solution
Train a logistic regression in scikit-learn using LogisticRegression:

In [33]:
# Load libraries
import numpy as np
from sklearn.linear_model import LogisticRegression
from sklearn import datasets
from sklearn.preprocessing import StandardScaler

In [34]:
# load data
iris = datasets.load_iris()
features = iris.data
target = iris.target

# Make class highly imbalanced by removing first 40 observations
features = features[40:,:]
target = target[40:]

# Create target vector indicating if class 0, otherwise 1
target = np.where((target == 0), 0, 1)

In [35]:
# Standardize features
scaler = StandardScaler()
features_standardized = scaler.fit_transform(features)

# Create decision tree classifier object
logistic_regression = LogisticRegression(random_state=0, class_weight="balanced")

# Train model
model = logistic_regression.fit(features_standardized, target)